<div class="container course-block" id="show-content">
    <div class="row">

        <div class="post-visitor">
            <div class="des-text">
                <p>有<span>0</span>位同学正在浏览当前页面</p>
            </div>
            <div class="visitors-list"></div>
        </div>

        <div class="course-post">

            <div class="post-title-h1 markdown">
                <h1><%= @post.name %></h1>
            </div>

            <div class="post group">
                <div class="post-content markdown">
                    <%= @post.content %>
                </div>
            </div>

        </div>

    </div>
</div>
