
<%= simple_form_for @assignment do |f| %>
	<div class="group"><%= f.input :name,
											label: "标题",
											placeholder: "请输入 assignmnet 标题" %></div>
	<!-- <div class="group"><#%= f.input :content,
											label: "正文（* 支持 Markdown 格式）",
											placeholder: "请输入 assignmnet 正文" %></div> -->

	<%= f.submit "Submit", data: {disable_with: "Submitting..."} %>

<% end %>
