<div class="container">

  <div class="row">
    <div class="col-md-3">Name: <%= @course.name %></div>
    <div class="col-md-3">Goal: <%= @course.goal %></div>
    <div class="col-md-3">Needs: <%= @course.needs %></div>
    <div class="col-md-3">Description: <%= @course.description %></div>
  </div>     <!-- row end -->


</div>
