<div class="container course-block" id="index-content">
          <div class="row">
            <!-- <div class="breadcrumb-block">
            </div> -->
            <!-- 算出taks总数与confirmed的数量 -->
<a href="/courses/4/assignments">
<div class="assignment-content" style="border-bottom: 1px solid #dedede;">
  <h1>当前进度</h1>
  <p>总共21个作业，已完成21个。</p>
  <div class="small-progress-bar">
    <div class="progress sh-progress-whole"><div class="progress-bar sh-progress-contents" style="width: 100%">100%</div></div>
  </div>
</div>
</a><div class="group">
    <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              开学第一课
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/355">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      [直播回放]1月3日 开学第一课
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              1-Computational Thinking
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/313">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


       1-1 Computational Thinking - Part 1
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/313#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/315">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
       1-2 Computational Thinking - Part 2
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/316">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      1-3 Computational Thinking - Part 3
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              2-自救教学
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/318">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      2-1 如何自救？
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/393">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      [直播回放]1月23日 编程英语
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              3-拆解任务
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/319">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      3-1 拆解任务 - Part 1
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/320">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      3-2 拆解任务  - Part 2
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/321">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      3-3 拆解任务 - Part 3
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/322">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      3-4 拆解任务 - Part 4
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/322#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/323">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      3-5 拆解任务 - Part 5
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/324">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      3-6 拆解任务  - Part 6
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/326">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      3-7 拆解任务 - Part 7
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/326#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              4-用户故事
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/327">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      4-1 用户故事 - Part 1
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/328">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      4-2 用户故事 - Part 2
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/329">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      4-3 用户故事 - Part 3
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/330">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      4-4 用户故事 - Part 4
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/331">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      4-5 用户故事 - Part 5
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/332">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      4-6 用户故事 - Part 6
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/333">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      4-7 用户故事 - Part 7
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/333#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              5-招聘网站 - 实作
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/97">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      5-1 Fork 教学
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/97#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/352">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      5-2 Pull Request 教学
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/406">
        <i class="fa fa-circle-thin" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - Fork &amp; Pull Request
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/335">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      5-3 招聘网站 - 实作提示
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/343">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      5-4 招聘网站 - 代码提示
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/336">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      5-5 招聘网站 - 学习方法
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共5个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/336#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/101">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      5-6 使用 LICEcap Demo 演示网页（录制成gif动画）
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/101#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              6-招聘网站 - （管理员）解答
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/338">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      6-0（解答）穿衣服
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/401">
        <i class="fa fa-circle-thin" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 穿衣服
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/339">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      6-1（解答）招聘网站第一部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/402">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 招聘网站第一部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/340">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      6-2（解答）招聘网站第二部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/403">
        <i class="fa fa-circle-thin" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 招聘网站第二部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/341">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      6-3（解答）招聘网站第三部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/404">
        <i class="fa fa-circle-thin" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 招聘网站第三部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/342">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      6-4（解答）招聘网站第四部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/405">
        <i class="fa fa-circle-thin" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 招聘网站第四部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              7-基础知识补充
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/109">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      7-1 本课程目标
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/346">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      7-2 Terminal
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/347">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      7-3 rails console / IRB
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/347#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/348">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      7-4 Git
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/348#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/349">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      7-5 Github / Heroku
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/350">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      7-6  Rails 项目架构扫盲
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/351">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      7-7 哪里有好用的 Gems
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/353">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      7-8 HTML/ERB
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共2个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/353#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/370">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      [直播回放]1月5日 基础知识补充
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              8 - 应聘者 - 加分习题
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/364">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      8-1 加分习题
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/368">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      8-2 （解答）招聘网站第五部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/407">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 招聘网站第五部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              9 - 用戶故事 - 应聘者
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/376">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      [直播回放]1月9日 Xdite老师的编程进阶之路
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/359">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      9-1 应聘者用户故事 Part 1
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/359#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/361">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      9-2 应聘者用户故事 Part 2
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/362">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      9-3 应聘者用户故事Part 3
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/362#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              10 - 招聘网站 - （应聘者）提示
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/363">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      10-1 实作章节 - 应聘者  - 学习方法
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/365">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      10-2 实作章节 - 应聘者 - 提示 Part 1
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/366">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      10-3 实作章节 - 应聘者 - 提示 Part 2
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/366#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/367">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      10-4 实作章节 - 应聘者 - 提示 Part 3
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共1个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/367#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              11 - 招聘网站 - （应聘者）解答
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/123">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      11-1（解答）招聘网站第六部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/408">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 招聘网站第六部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/125">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      11-2（解答）招聘网站第七部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/409">
        <i class="fa fa-circle-thin" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 招聘网站第七部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              12 - Admin履历后台 - 加分习题
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/375">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      12-1 加分习题
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/127">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      12-2（解答）招聘网站第八部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/411">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      操作示范视频 - 招聘网站第八部分
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              13 - 基础知识补充
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/122">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      基础知识补充 DB Migration
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/386">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      [直播回放]1月12日 基础知识补充(DB)
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>
  <div class="syllabus">
    <table class="table-striped">
      <thead>
        <tr>
          <td id="section-name" colspan="2">
            <h3 class="pull-left">
              14 - 招聘网站 PK 魔改大赛
            </h3>
          </td>
        </tr>
        <!-- <tr class="title">
          <td class="post">教材</td>
          <td class="option" id="split-line">操作</td>
        </tr> -->
      </thead>
      <tbody>
        <tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/389">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      魔改大赛
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
      <span class="hidden-xs task-count">

        共2个作业 |
      </span>
      <span class="task-btn">
        <a class="btn btn-default btn-sm" href="/posts/389#task"><i class="fa fa-star"></i><span> 已完成</span></a>
      </span>
    </div>
  </td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/390">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;

      <span class="fa fa-youtube-play " style="color:#9B9B9B;"></span>
      [直播回放]1月19日 魔改大赛实操
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>
<tr>
  <td class="post post-link">
    <div style="height: 35px; overflow:hidden;">
      <a href="/posts/392">
        <i class="fa fa-circle" style="color:#1ecd97;"></i>&nbsp;


      弹窗教程
</a>      <span>

      </span>
      <span>

      </span>
    </div>
  </td>
  <td class="option">
    <div class="syllabus-task-area">
  </div></td>
</tr>

      </tbody>
    </table>
  </div>

</div>

          </div>
        </div>
