<footer>
 <div class="container-fluid footer-wrap">
  <div class="container footer-content">
    <div class="row">
      <div class="col-md-6 des-block">
        <div class="des-content">
          <ul class="col-md-4">
            <li>新学堂</li>
            <li>课程介绍</li>
          </ul>
          <ul class="col-md-4">
            <li>课程资源</li>
            <li>课程介绍</li>
          </ul>
          <ul class="col-md-4">
            <li>关于我们</li>
            <li>课程介绍</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 contact-block">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="row">
              <i class="fa fa-comments-o fa-fw" aria-hidden="true"></i>联系我们
            </div>
            <div class="row">
              dfdf
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row fline"></div>
    <div class="row copyright-block">
      <div class="copyright-content">
        <div class="col-md-6 copyright-info">
          <p>© 2017 新学堂教育</p>
        </div>
        <div class="col-md-6 legal-info">
          <p>欢迎来到新学堂教育</p>
        </div>
      </div>
    </div>

  </div>
</div>
</footer>
